<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leo Store</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('stripe_routes.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('user_routes.create_user_page') }}">Create User <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Leo Store</h3>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

      <div class="jumbotron">
        <h1 class="display-3">The Product</h1>
        <p class="lead">Purchase The Product for only R$50.</p>
        <a href="#" id="buy_now_btn" class="btn btn-primary">Buy Now</a>
      </div>

      <footer class="footer">
        <p>&copy; Leo Store 2023</p>
      </footer>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script>
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
      <script src="{{ url_for('static', filename='script-ajax.js') }}"></script>

    </div> <!-- /container -->
  </body>
</html>